/* BACKGROUND IMAGE */
body{
    background-image:url('./images/bgImg.png') ;
    background-attachment: fixed;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* NAV BAR */
#mainNavbar {
    top: 3%;
    color:#FFFFFF;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0);
}
.nav-link{
    color: #FFFFFF;
}

#mainNavbar .nav-link:hover {
    color: #FFD700;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 1.1em;
}
#mainNavbar .navbar-brand {
    color: #FFFFFF;
    font-size: 35px;
}
#mainNavbar .nav-item {
    color: #c72222;
    font-size: 35px;
}

.custom-nav{
    margin-left: 30px;
    margin-right: 30px;
    color: #FFFFFF;
}
.nav-item{
    margin-right: 100px;
}

.nav-cls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
}
/* animation */
 .ml13 {
    font-size: 1.9em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-weight: 600;
  }
  
  .ml13 .letter {
    display: inline-block;
    line-height: 1em;
  }

/* SECTION MAIN IMAGE */

  .firstMain{
    position: relative;
  }
  .forMainText{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #FFFFFF;
    transform: translate(-50%, -50%);
    font-family: 'Poppins', sans-serif;
    
    text-align: center;
  }
  .headingh1{
    font-size: 12em;
    line-height: 175px;
    text-shadow: 3px 3px 6px rgba(241, 73, 73, 0.8);
  }
  .headingh2{
    font-size: 4em;
    text-shadow: 3px 3px 6px rgba(63, 4, 4, 0.8);
  }
  .headingh3{
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(241, 240, 240, 0.8);
  }

/* HOW IT WORKS SECTION (IMAGE & CONTENTS)*/
.div1 {
    display: flex;
    justify-content: center;
    margin: 30px 30px;
}

.div1 img {
    width: 50%;
}

.div2 {
    display: flex;
    justify-content: center;
    margin: 30px 30px;
}

.div2 img {
    width: 50%;
}

.div3 {
    display: flex;
    justify-content: center;
    margin: 30px 30px;
}

.div3 img {
    width: 50%;
}

.div4 {
    display: flex;
    justify-content: center;
    margin: 30px 30px;
}

.div4 img {
    width: 50%;
}

/* HOW IT WORKS SECTION (TEXT CONTENTS) */
.container1 {
    font-size: 1.1em;
    font-weight: 100px;
    color: rgb(75, 12, 75);
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-items: center;
    margin-top: 40px;
}

/* FOOTER SECTION */
.footercls{
    /* position: fixed; */
    background-color: black;
    font-style: italic;
    color: white;
}
.listcls{
    display: flex;
    align-items: center;
    margin: 5px 5px 5px 5px;
}